.relative {
    width: 100%;
    height: 400px;
    position: relative;
  }
  .for_images1 {
    position: absolute;
    left:800px;
    top:25px;
  }
  
  .for_images2 {
    position: absolute;
    left:1025px;
    top:8px;
  }
  .for_images3 {
    position: absolute;
    left:900px;
    top:175px;
  }
  .for_images4 {
    position: absolute;
    left:875px;
    top:50px;
  }
  .for_images1:hover,
  .for_images2:hover,
  .for_images3:hover {
    z-index: 1;
  }
  .hanging_block{
    width: 200px;
    height: 50px;
    background-color: rgb(8, 168, 69);
    border: rgb(0, 0, 0) 3px dotted;
    position: fixed;
    text-align:center;
    top: 15px;
    right: 25px
  }