  html, body {
    margin: 0;
  }
  a {
    text-decoration: none;
  } 
  .header
    {
        text-align: center;
        padding: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
        color: #089B99;
        background-color: black;
    }
    .content {
        margin-right: 5px;
        margin-left: 200px;
        background-color:#000000;;
        font-size: 24px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #089B99;
    }
  
    .footter{
        text-align: center;
        margin: 0px;
        padding: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
        color: #089B99;;
        background-color: black;
    }
    .image{
        float: left;
    }
    .for_bottom {
      display: flex;
      align-items: center;
      position: absolute;
      width: 35px;
      height: 35px;
      cursor: pointer;
      z-index: 1;
    }
    .for_bottom > span,
    .for_bottom > span::before,
    .for_bottom > span::after {
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #089B99;
    }
    .for_bottom > span::before {
      content: "";
      top: -8px;
    }
    .for_bottom > span::after {
      content: "";
      top: 8px;
    }
    .list_of_links {
      display: block;
      position: absolute;
      visibility: hidden;
      left: -100%;
      width: 300px;
      height: 750px;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      overflow: scroll;
      background-color: #000000;
    }
    .links {
      display: block;
      padding: 12px 24px;
      color: #00885b;
      font-style: italic;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }
    .links:hover {
      background-color: #359bc7;
    }
    #toggle:checked ~ .for_bottom > span {
      transform: rotate(45deg);
    }
    #toggle:checked ~ .for_bottom > span::before {
      top: 0;
      transform: rotate(0);
    }
    #toggle:checked ~ .for_bottom > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #toggle:checked ~ .list_of_links {
      visibility: visible;
      left: 0;
    }  
    .list_of_links {
      margin: 0px;
      padding: 0px;
    }
    
  